﻿@model Butchery.Web.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>Datasheet of a customer</h2>

@Html.ActionLink("Back to the list page", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Age)</td>
        <td>@Html.DisplayFor(m => m.Age)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Gender)</td>
        <td>@Html.DisplayFor(m => m.Gender)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Weight)</td>
        <td>@Html.DisplayFor(m => m.Weight)</td>
    </tr>

</table>

