﻿@model Butchery.Web.Models.CustomersViewModel

@{
    ViewBag.Title = "My customers";
}

<h2>My customers</h2>

<p style="color:royalblue">
    @TempData["editResult"]
</p>

@Html.Partial("CustomerEdit", Model.EditedCustomer)

@Html.Partial("CustomerList", Model.ListOfCustomers)


