﻿@model Butchery.Web.Models.Customer

<h2>Edit a customer</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Age)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Age)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Gender)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Gender)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Weight)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Weight)</div>
    <input type="submit" value="SEND" />
}
